html, body {
    background-color: $black;
    color: $white;
    @include Aileron;
    @media screen and (max-width: $bp-tablet - 1px){
      font-size: 80%;
    }
}

body {
    position: relative;
    min-height: 100vh;
}

::selection {
    background: rgba($white, .05);
}

*:last-child {
    margin-bottom: 0;
}
