* {
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
  @media screen and (max-height: 768px){
    font-size: 95%;
  }
  @media screen and (max-width: $bp-tablet - 1px){
    font-size: 80%;
  }
}
html, body {
    background-color: $black;
    color: $whiteWhite;
    width: 100%;
    @include Aileron;
}

body {
  position: relative;
  min-height: 100vh;
  // overflow-x: hidden;
  &.hide-overflow {
    @media screen and (max-width: 1000px){
      overflow: hidden;
    }
  }
  &.show-mobile-menu {
    @media screen and (max-width: 699px){
      overflow: hidden;
    }
  }
}

a {
  color: inherit;
}

::selection {
    background: rgba($white, .05);
}

// *:last-child {
//     margin-bottom: 0;
// }
