/*=============================================================================
# LAYOUT
==============================================================================*/


#main-content {
    max-width: 65vw;
    max-width: 1100px;
    margin: 0 auto;
    @media screen and (min-width: 1361px) {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      min-width: 1000px;
    }
    @media screen and (max-width: 1360px){
      max-width: 900px;
    }
    @media (max-width: 1100px) {
      padding-right: 0;
    }
}
