/*=============================================================================
# LAYOUT
==============================================================================*/


#main-content {
    max-width: 900px;
    width: 99%;
    margin: 8rem auto;
    position: relative !important;
    display: inline-block !important;
    text-align: left;
    vertical-align: middle;
    z-index: 10;
}

.panel {
  position: relative;
  min-height: 100vh;

  text-align: center;
  padding: 5rem;
  @media screen and (max-width: 600px){
    padding: 2rem;
  }

  &:before {
    content: '';
    height: 100%;
    display: inline-block;
    width: 0;
    vertical-align: middle;
  }
}
