/*=============================================================================
# LAYOUT
==============================================================================*/

.content-block {
    max-width: 55rem;
}

#main-content {
    margin: 0 auto;
    margin-top: 10rem;
    margin-top: 17vh;
    max-width: 60%;
    position: relative;
}
