/*=============================================================================
# NAVIGATION
==============================================================================*/
@mixin primaryMenuItem(){
    display: inline-block;
    font-size: .75rem;
    color: $actualWhite;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .5em;
    font-weight: 700;
    transition: all .4s;
}


#site-header {
  padding: 3rem;
  position: absolute;
  top: 0; left: 0; right: 0;
  z-index: 20;
  .hide-header & {
    @media screen and (max-width: 1000px){
      display: none;
    }
  }
  .socialmedia {
    float: right;
    @include simpleAnimateIn(0.4);
    a:first-child {
      @include primaryMenuItem;
      padding-left: 0;
      padding-right: 0;
    }
  }
  @media screen and (max-width: 1000px){
    .socialmedia {
      display: none;

    }
  }
  .hamburger {
    position: absolute;
    right: 3rem;
    top: 3.25rem;
    @media screen and (min-width: 700px){
      display: none;
    }
  }
}

#menu-primary {
  @media screen and (max-width: 699px){
    display: none;
  }
}

.menu-primary-container {
  display: inline-block;
}



#primary-navigation {
    z-index: 10;
    display: inline-block;

    &:after {
        content: '';
        display: block;
        clear: both;
    }
    li {
        display: inline-block;
    }
    ul {
        @include simpleAnimateIn(0.1);

        list-style: none;
        display: inline-block;
        vertical-align: middle;
        margin: 0 2rem;
        transition: opacity 2s .3s;

        .menu-item {
          opacity: .25;
          a {
            color: $actualWhite;
            padding: 1em 1em 1em 0;
          }
        }
        .menu-item.active,
        .current-menu-item {
          opacity: 1;
        }
        &:hover {
            .menu-item {
                opacity: 0.1;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    .menu-item {
        @include primaryMenuItem();

    }
}

.page-template-single-graduate .menu-primary-container #menu-primary .menu-item a {
  color: $black;
}


.socialmedia {
  color: $actualWhite;
  z-index: 10;
  &:hover a {
    opacity: 0.1;
  }
  a {
    margin: 0 10px;
    line-height: 24px;
    display: inline-block;
    height: 24px;
    letter-spacing: 1px;
    text-decoration: none;
    color: inherit;
    opacity: 0.3;
    transition: opacity .4s;
    text-transform: uppercase;

    span {
      text-indent: -9999px;
      font-size: 0;
    }
    i {
      font-size: 1.5em;
    }
    &:hover {
      opacity: .8;
    }
  }



}

#sponsors {
    position: fixed;
    font-size: 0;
    right: 3rem;
    bottom: 3rem;
    transition: opacity .3s;
    z-index: 100;
    @include simpleAnimateIn(0.3s);

  a {
    font-size: 0;
  }

  img {
    transition: opacity .3s;
    opacity: .3;
    height: 32px;
    width: auto;
  }

  &:hover img {
    opacity: .8;
  }
}

@media (max-width: 1000px) {
  #socialmedia {
    position: relative;
    top: 0;
    left: 0;
    padding: 5rem 3rem 3rem;
    height: 2rem;

    span {
      line-height: 2rem;
      height: 2rem;
      font-size: 1.75rem;
      float: none;
      margin-bottom: 2rem;
    }

    svg {
      width: 2rem;
    }

    a {
      margin: 1rem 1.5rem 0 1rem;
      font-size: 1.2rem;

      &:nth-of-type(1) {
        font-size: 1.2rem;
        margin: 2rem 0;
        width: 100%;
        position: absolute;
        top: 0; left: 0;
        display: block;
      }
    }
  }

  #sponsors {
    position: relative;
    left: 0;
    top: 0;
    margin: 13rem 3rem 3rem;
    height: 2rem;

    img {
      height: 2rem;
      position: relative;
      right: 0;
    }
  }
}


@media (max-width: 600px) {
  #socialmedia {

    a {
      font-size: 1.5rem;

      &:nth-of-type(1) {
        font-size: 1.75rem;
      }
    }
  }
}
