/*=============================================================================
# NAVIGATION
==============================================================================*/

#site-header {
  padding: 3rem;
  position: absolute;
  top: 0; left: 0; right: 0;
  z-index: 20;
  .socialmedia {
    float: right;
    @include simpleAnimateIn(0.4);
  }
  @media screen and (max-width: 600px){
    .socialmedia {
      display: none;
    }
  }
}


@mixin primaryMenuItem(){
    display: inline-block;
    padding: 1em 1em 1em 0;
    font-size: 0.75rem;
    color: $actualWhite;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.5em;
    font-weight: 700;
    transition: all 0.6s;
}

#primary-navigation {
    z-index: 10;
    display: inline-block;
    &:after {
        content: '';
        display: block;
        clear: both;
    }
    ul {
        list-style: none;
        display: inline-block;
        vertical-align: middle;
        margin: 0 2rem;
        transition: opacity 2s .3s;

        .menu-item {
          opacity: .25;
        }
        .menu-item.active {
          opacity: 1;
        }
        &:hover {
            .menu-item {
                opacity: 0.1;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
    li {
        display: inline-block;
        &:nth-of-type(1) {
          @include simpleAnimateIn(0.1);
        }
        &:nth-of-type(2) {
          @include simpleAnimateIn(0.2);
        }
        &:nth-of-type(3) {
          @include simpleAnimateIn(0.3);
        }
        &:nth-of-type(4) {
          @include simpleAnimateIn(0.4);
        }
    }
    .menu-item {
        @include primaryMenuItem();

    }
}

.page-template-single-graduate #primary-navigation .menu-item {
  color: $black;
}


.socialmedia {
  color: $actualWhite;
  z-index: 10;
  &:hover a {
    opacity: 0.1;
  }
  a {
    margin: 0 10px;
    line-height: 24px;
    display: inline-block;
    height: 24px;
    letter-spacing: 1px;
    text-decoration: none;
    color: inherit;
    opacity: 0.3;
    transition: opacity .6s;
    span {
      text-indent: -9999px;
      font-size: 0;
    }
    i {
      font-size: 1.5em;
    }
    &:hover {
      opacity: .8;
    }
  }



}

#sponsors {
    position: fixed;
    font-size: 0;
    right: 3rem;
    bottom: 3rem;
    transition: opacity .3s;
    z-index: 100;
    @include simpleAnimateIn(0.3s);

  a {
    font-size: 0;
  }

  img {
    transition: opacity .3s;
    opacity: .3;
    height: 32px;
    width: auto;
  }

  &:hover img {
    opacity: .8;
  }
}

@media (max-width: 1000px) {
  #socialmedia {
    position: relative;
    top: 0;
    left: 0;
    padding: 5rem 3rem 3rem;
    height: 2rem;

    span {
      line-height: 2rem;
      height: 2rem;
      font-size: 1.75rem;
      float: none;
      margin-bottom: 2rem;
    }

    svg {
      width: 2rem;
    }

    a {
      margin: 1rem 1.5rem 0 1rem;
      font-size: 1.2rem;

      &:nth-of-type(1) {
        font-size: 1.2rem;
        margin: 2rem 0;
        width: 100%;
        position: absolute;
        top: 0; left: 0;
        display: block;
      }
    }
  }

  #sponsors {
    position: relative;
    left: 0;
    top: 0;
    margin: 13rem 3rem 3rem;
    height: 2rem;

    img {
      height: 2rem;
      position: relative;
      right: 0;
    }
  }
}


@media (max-width: 600px) {
  #socialmedia {

    a {
      font-size: 1.5rem;

      &:nth-of-type(1) {
        font-size: 1.75rem;
      }
    }
  }
}
