/*=============================================================================
# NAVIGATION
==============================================================================*/

#socialmedia {
  position: fixed;
  right: 48px;
  top: 48px;
  color: rgba($white, .3);
  transition: color .3s;

  span {
    line-height: 24px;
    display: block;
    float: left;
    height: 24px;
    font-weight: 500;
    letter-spacing: 1px;
  }

  a {
    margin-left: 20px;
    display: block;
    float: left;
    font-size: 0;
  }

  svg {
    fill: rgba($white, .3);
    width: 24px;
    height: auto;
    transition: fill .3s;

    &:hover {
      fill: rgba($white, .8);
    }
  }

  &:hover {
    opacity: .8;
  }
}

#sponsors {
  position: fixed;
  right: 48px;
  bottom: 48px;

  a {
    font-size: 0;
  }

  img {
    transition: opacity .3s;
    opacity: .3;
    height: 32px;
    width: auto;
  }

  &:hover img {
    opacity: .8;
  }
}
