
h1, h2, h3, h4, h5, h6,
p,
ol,
ul,
li,
span,
{
    font: {
        family: inherit;
    }
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

i {
  font-style: normal;
}
a {
  text-decoration: none;
  display: inline-block;

}
a.fancy-link {
  opacity: 0.3;
  color: $actualWhite;
  padding: 0.5em 0;
  position: relative;
  transition: opacity 0.6s;
  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0; left: 0; right: 0;
    width: 0;
    margin: auto;
    height: 1px;
    background-color: $actualWhite;
    transition: width 0.6s;
  }
  &:hover {
    opacity: 1;
    &:after {
      width: 100%;
    }
  }
}



@mixin title(){
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    margin-bottom: 1.5em;
}


.primary-heading-text {
    display: block;
    margin-bottom: 0.3em;
    letter-spacing: 2.5vw;
}
.sub-heading {
  letter-spacing: 0.175em;
  font: {
      size: 0.55em;
      weight: 500;
  }
  @media screen and (min-width: $bp-tablet){
    letter-spacing: 0.345em;
  }
  @media screen and (max-width: $bp-tablet - 1px){
    font-size: 0.50em;
  }
  & + & {
    font-size: 0.35em;

    @media screen and (min-width: $bp-tablet){
      letter-spacing: 0.56em;
    }
  }
}
.site-title {
    margin-bottom: 3rem;
    transition: opacity 1s $siteAnimationDelay, transform 1s $siteAnimationDelay;
    .js & {
      opacity: 0;
      transform: translate(0, 2rem);
    }
    .js .loaded & {
      opacity: 1;
      transform: translate(0,0);
    }
}

h1, .h1 {
    @include title;
    font-size: 2.5rem;
    // color: $whiteWhite;
    span {
        display: block;
    }
}

h2, .h2 {
  @include title;
  font-size: 1.4rem;
  margin: 0.5em 0;
}

.home {
  h2, .h2 {
      @include title;
      margin: 3em 0;
      transition: opacity 2s;
      .js & {
        opacity: 0;
      }
      .js &.seen {
        opacity: 1;
      }

  }
}

h3, .h3 {
    @include title;
}
h4, .h4 {
    @include title;
}
h5, .h5 {
    @include title;
}
h6, .h6 {
    @include title;
}


.paragraph {
    line-height: 2;
    letter-spacing: 0.1em;
    font-size: 1.125rem;
    margin-bottom: 1.5em;
}
.paragraph-lg {
    @extend .paragraph;
    font-size: 1.125rem;
}
.paragraph-sm {
    @extend .paragraph;
    font-size: 0.8rem;
}
