/*=============================================================================
# VARIABLES
==============================================================================*/

$siteAnimationDelay: 0.3s;

/*------------------------------------------------------------------------------
# COLOURS
------------------------------------------------------------------------------*/
$black:           #1d1d1d;
$actualWhite:     #FFFFFF;
$white:           #d5d5d9;
$whiteWhite:      #f3f3f3;
$colorCycle:      hsla(330, 100%, 50%, 1);
$colorCycle2:     adjust-hue($colorCycle, 120);
$colorCycle3:     adjust-hue($colorCycle, 240);

/*------------------------------------------------------------------------------
# TYPEFACES
------------------------------------------------------------------------------*/



/*------------------------------------------------------------------------------
# BREAKPOINTS
------------------------------------------------------------------------------*/
$bp-tablet: 600px;
$bp-wide: 900px;
