/*=============================================================================
# VARIABLES
==============================================================================*/


/*------------------------------------------------------------------------------
# COLOURS
------------------------------------------------------------------------------*/
$black: #111111;
$white: #FFFFFF;

/*------------------------------------------------------------------------------
# TYPEFACES
------------------------------------------------------------------------------*/



/*------------------------------------------------------------------------------
# BREAKPOINTS
------------------------------------------------------------------------------*/
$bp-tablet: 600px;
$bp-wide: 900px;
