
#sponsor-images-big img {
    padding:20px;
}

#sponsor-images-small img {
    padding: 0px;
    margin-right: 20px;
    margin-left: 20px;
}
.panel {
    position: relative;
    text-align: center;
    padding: 5rem;
}