.sprite {
  width: 600px;
  height: 338px;
  background: url(../images/sprites/spritesheet.jpg) 0 0;
  animation: graduateSprite 2s steps(60) infinite alternate;
}
@keyframes graduateSprite{
  from {
    background-position: 0 0;
  }
  to {
    background-position: -36000px 0px;
  }
}
