/*=============================================================================
# HOMEPAGE POLYS
==============================================================================*/

.fixed-polys {
  position: fixed;
  left: 0; right: 0; bottom: 0; top: 0;
  overflow: hidden;
}

.polygon {
  position: absolute !important;
  height: auto;
  fill:none;
  stroke-linecap:square;
  stroke-miterlimit:10;
  opacity: .8;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  overflow: visible;
  transition: opacity 4s 1s;
  z-index: 8;
  &:hover {
    animation: flicker 5s infinite
  }
  svg {
    display: inline-block !important;
    overflow: visible;
  }
  .js & {
    opacity: 0;
  }
  .js .loaded & {
    transition: opacity 0.5s 0s;
    opacity: .75;
    &:hover {
      transition: opacity 0.5s 0s;
      opacity: 1;
    }
  }
  &:nth-of-type(1) {
    top: -10% !important;
    right: 0 !important;
    transform: translate(35%, 0%);
    width: 40vw;
    svg {
      animation: svg2ColorCycle 5s infinite;
      .b {
        opacity: .25;
      }
    }
  }

  &:nth-of-type(2) {
    top: 50% !important;
    left: -5% !important;
    svg {
      width: 30vw;
      animation: svg1ColorCycle 5s infinite;
      .b {
        opacity: .25;
      }
    }
  }

  &:nth-of-type(3) {
    bottom: 38%;
    right: 15%;
    svg {
      width: 450px;
      width: 25vw;
      animation: svg3ColorCycle 5s infinite;
      .b {
        opacity: .25;
      }
    }
  }
}



@keyframes flicker {
	0% {
		opacity: 0.5;
	}
	4% {
		opacity: 0.5;
	}
	6% {
		opacity: 0.45;
	}
	8% {
		opacity: 0.55;
	}
	10% {
		opacity: 0.45;
	}
	11% {
		opacity: 0.5;
	}
	12% {
		opacity: 0.65;
	}
	14% {
		opacity: 0.55;
	}
	16% {
		opacity: 0.70;
	}
	17% {
		opacity: 0.55;
	}
	19% {
		opacity: 0.5;
	}
	20% {
		opacity: 0.5;
	}
	24% {
		opacity: 0.5;
	}
	26% {
		opacity: 0.69;
	}
	28% {
		opacity: 0.5;
	}
	38% {
		opacity: 0.465;
	}
	40% {
		opacity: 0.5;
	}
	42% {
		opacity: 0.67;
	}
	44% {
		opacity: 0.5;
	}
	46% {
		opacity: 0.5;
	}
	56% {
		opacity: 0.5;
	}
	58% {
		opacity: 1;
	}
	60% {
		opacity: 0.5;
	}
	68% {
		opacity: 0.5;
	}
	70% {
		opacity: 1; /*peak*/
	}
	72% {
		opacity: 0.5;
	}
	93% {
		opacity: 0.5;
	}
	95% {
		opacity: .6; /*peak*/
	}
	97% {
		opacity: 0.5;
	}
	100% {
		opacity: 0.5;
	}
}

@keyframes svg1ColorCycle {
  0% { stroke: adjust-hue($colorCycle, 0) }
  25% { stroke: adjust-hue($colorCycle, 90) }
  50% { stroke: adjust-hue($colorCycle, 180) }
  75% { stroke: adjust-hue($colorCycle, 270) }
  100% { stroke: adjust-hue($colorCycle, 0) }
}

@keyframes svg2ColorCycle {
  0% { stroke: adjust-hue($colorCycle2, 0) }
  25% { stroke: adjust-hue($colorCycle2, 90) }
  50% { stroke: adjust-hue($colorCycle2, 180) }
  75% { stroke: adjust-hue($colorCycle2, 270) }
  100% { stroke: adjust-hue($colorCycle2, 0) }
}

@keyframes svg3ColorCycle {
  0% { stroke: adjust-hue($colorCycle3, 0) }
  25% { stroke: adjust-hue($colorCycle3, 90) }
  50% { stroke: adjust-hue($colorCycle3, 180) }
  75% { stroke: adjust-hue($colorCycle3, 270) }
  100% { stroke: adjust-hue($colorCycle3, 0) }
}
