.horizon-glyph-glyph {
  background-image: url(../images/H.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.horizon-glyph {
  width: 1.75rem;
  height: 1.5rem;
  overflow: hidden;
  position: fixed;
  display: inline-block;
  .horizon-glyph-glyph {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    transition: opacity 1s 0.5s, transform 1s 0.5s;
    .js & {
      opacity: 0;
      transform: translateY(100%);
    }
    .js .loaded & {
      opacity: 1;
      transform: translateY(0);
    }
  }

}

@media (max-width: 600px) {
  .horizon-glyph {
    opacity: 1;
  }
}
