.horizon-glyph-glyph {
  background-image: url(../images/H.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.horizon-glyph {
  width: 1.75rem;
  height: 1.5rem;
  overflow: hidden;
  position: relative;
  display: inline-block;
  .horizon-glyph-glyph {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    transition: transform 1s;
    transform: translateY(100%);
  }
  &.toast-is-ready .horizon-glyph-glyph {
    animation: glyphToaster 2s forwards;
    animation-iteration-count: 1;
  }
}


@keyframes glyphToaster {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

@media (max-width: 600px) {
  .horizon-glyph {
    background: $black;
    padding: 10px;
    position: fixed;
    bottom: 2rem;
    left: 2rem;
  }
}
