/*=============================================================================
# LANDING PAGE
==============================================================================*/

.panel--landing {
  height: 100vh;
  padding: 5rem;
  overflow: hidden; // This causes bottom polygon (3) to be cut off.
  @media screen and (max-width: 600px){
    padding: 4rem;
  }
  @media screen and (max-width: 500px){
    padding: 3rem;
  }
  &::before {
    content: '';
    height: 100%;
    display: inline-block;
    width: 0;
    vertical-align: middle;
  }
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background: linear-gradient(transparentize($black, 0.15), $black);
    z-index: 5;
  }
  .iOs &::after {
    display: none;
  }
}
#heroVideo {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  min-width: 100%;
  min-height: 100%;
  opacity: 1;
  z-index: 1;
}
.hero-video-container {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  overflow: hidden;
}

#hero-logo {
  max-width: 600px;
  width: 33vw;
  min-width: 250px;
  display: block;
  margin: 0 auto;
  transform: translateX(-10%);
}

.landing-details {
    margin: 3rem 0;
    @include simpleAnimateIn(0.3s);

    &::after {
      content: '';
      display: block;
      clear: both;
    }
    .event-details {
      display: block;
        &-lg {
          font-weight: 500;
          font-size: 1.125rem;
          letter-spacing: 2px;
          display: block;
          margin-bottom: 2px;
        }
        &-sm {
          opacity: .7;
        }
    }

    .detailbox {
      float: left;
      margin-right: 4rem;
        img {
          height: 2rem;
          display: inline-block;
          margin-right: 20px;
          vertical-align: middle;
          opacity: .9;
        }
        @media (max-width: 1000px) {
          float: none;
          display: block;
          clear: both;
          margin-bottom: 1.5rem;
          padding-left: 5rem;
          position: relative;
          margin-right: 0;
          img {
            position: absolute;
            top: 0; bottom: 0; left: 0; margin: auto;
          }
        }
    }
    .detail-text {
      display: inline-block;
      vertical-align: middle;
    }
}

#main-content {
  [class^="paragraph"]{
    &:nth-of-type(1){
      @include simpleAnimateIn(0.4);
    }
    &:nth-of-type(2){
      @include simpleAnimateIn(0.5);
    }
  }
  .button {
    @include simpleAnimateIn(0.6);
    margin-right: 2em;
  }
}

.scroll-prompt {
  position: absolute;
  width: 1px;
  height: 70px;
  // background: $actualWhite;
  left: 50%;
  bottom: 0;
  z-index: 10;
  opacity: .2;

  &::after {
    position: absolute;
    content: '';
    display: block;
    width: 9px;
    height: 9px;
    left: -5px;
    top: 0;
    background: $actualWhite;
    border-radius: 50%;

    animation-name: scrollPrompt;
    animation-duration: 4s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
  }
}

.landing-croomo {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  z-index: 10;
  letter-spacing: .3rem;
  text-transform: uppercase;
  font-size: .75rem;
  font-weight: 500;
  a {
    opacity: .75;
    transition: opacity .3s;
    font-size: 0;
    letter-spacing: 0;

    &:hover {
      opacity: 1;
    }
  }

  img {
    height: 3rem;
    margin-left: .5rem;
  }
}

@media (max-width: 1000px) {
  .landing-croomo {
    position: relative;
    text-align: center;
    right: 0;

    a {
      display: block;
      margin: 1rem 0;
    }
  }
}

@media (max-width: 400px) {
  .landing-croomo {
    display: none;
  }
}

@keyframes scrollPrompt {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

66% {
    transform: translateY(30px);
    opacity: 0;
  }

  100% {
    transform: translateY(30px);
    opacity: 0;
  }
}

@media (max-width: 950px) {
  body.home .strip-wrapper .strip-homepage-text {
    opacity: 1;
    transform: translate(-50%,-50%);
  }
}

@media (max-width: 360px) {
  .homepage-grad-button {
    font-size: 1.3rem;
  }
}
