/*=============================================================================
# LANDING PAGE
==============================================================================*/
.panel--landing {
  overflow: hidden;
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background: linear-gradient(transparentize(#000, 0.1), $black);
    z-index: 5;
  }
}
.panel video {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  min-width: 100%;
  min-height: 100%;
  opacity: 1;
  z-index: 3;
}

#hero-logo {
  max-width: 600px;
  width: 33vw;
  min-width: 250px;
  display: block;
  margin: 0 auto;
  transform: translateX(-10%);
}

.landing-details {
    margin: 3rem 0;
    @include simpleAnimateIn(0.3s);

    &:after {
      content: '';
      display: block;
      clear: both;
    }
    .event-details {
      display: block;
        &-lg {
          font-weight: 500;
          font-size: 1.125rem;
          letter-spacing: 2px;
          display: block;
          margin-bottom: 2px;
        }
        &-sm {
          opacity: .7;
        }
    }

    .detailbox {
      float: left;
      margin-right: 4rem;
        img {
          width: 2.5rem;
          display: inline-block;
          margin-right: 20px;
          vertical-align: middle;
          opacity: .9;
        }
        @media (max-width: 1000px) {
          float: none;
          display: block;
          clear: both;
          margin-bottom: 1.5rem;
          padding-left: 5rem;
          position: relative;
          img {
            position: absolute;
            top: 0; bottom: 0; left: 0; margin: auto;
          }
        }
    }
    .detail-text {
      display: inline-block;
      vertical-align: middle;
    }
}

#main-content {
  [class^="paragraph"]{
    &:nth-of-type(1){
      @include simpleAnimateIn(0.4);
    }
    &:nth-of-type(2){
      @include simpleAnimateIn(0.5);
    }
  }

}
