.multitouch {
  height: calc(100vh - 5rem);
  min-height: 0;

  .mCustomScrollBox {
    padding-bottom: 20px;
  }
  .mCustomScrollBox,
  .mCSB_container {
    overflow: scroll;
  }
  .mCSB_scrollTools.mCSB_scrollTools_horizontal {
    height: 28px;
  }
  .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail {
    margin: 13px 0;
  }
  .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
    height: 16px;
    border-radius: 6px;
  }

  // GRADUATES
  &.page-template-graduates .panel--graduate-strips {
    padding: 6rem 3rem 3rem;
    height: 100%;
  }
  .inline-v-align {
   width: 100%;
   text-align: center;
  }
  .graduate-filters {
    .menu-item a {
      font-size: .8rem;
    }
  }
  .strips-container .single-grad {
    width: 15.2vw;
  }
  .strips-container {
    margin: 2rem 0;
  }
  .strip .single-grad .grad-container .grad-name,
  .strip-container .single-grad .grad-container .grad-name {
    transform: translate(-50%,-3rem);
    padding: .6rem 1.4rem;
  }
  .strip .single-grad .grad-container .board,
  .strip-container .single-grad .grad-container .board {
    height: 100%;
    width: 100%;
    opacity: 1;
    transform: translate(-50%,-50%) rotate(540deg);
  }
  .strip .single-grad .grad-container .name,
  .strip-container .single-grad .grad-container .name {
    opacity: 1;
    transition: opacity .2s .4s;
    font-size: 0.7rem;
  }

  @keyframes fadeIn{
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  //SINGLE GRAD
  .panel--single-graduate {
    #workJS {
      pointer-events: auto;
      overflow: hidden;
    }
    .horizon-rule {
      width: 100%;
      &--bottom-end {
        margin: 3rem auto;
      }
    }
    .grad-work-container {
      opacity: 1;
    }
    &.hide-detailed-works {
      .grad-work-container {
        transition: opacity 0.5s 0.8s;
        opacity: 1;
      }
    }
    &.hide-profile-content {
      .grad-work-container {
        opacity: 0;
        transition: opacity 0.5s;
      }
    }
    .left-panel {
      // height: calc(100vh - 5rem);
      .grad-work-container {
        position: fixed;
        left: 0;
        width: 50%;
        top: calc(50% - 5rem);
        padding: 3rem;
        transform: translate(0,-50%) !important;
        max-height: 86vh;
      }
      .work-strip {
        background-color: white;
        &:hover {
          .work-image {
            opacity: 1;
          }
        }
        .work-title {
          opacity: 1 !important;
          bottom: 0 !important;
          top: auto !important;
          transform: translate(-50%, 50%) !important;
          padding: 1rem 2rem;
          font-size: 1rem;
        }
      }
      .grad-image {
        // height: calc(100vh - 5rem);
        bottom: auto;
        filter: blur(5px);
        overflow: hidden;
      }
    }
    .right-panel {
      z-index: 10;
      p {
        font-size: 1.1rem;
      }
      h2 {
        margin: 2rem 0;
        letter-spacing: 0.2em;
      }
    }

  }



  // WORKS
  .detailed-works {
    padding: 6rem;
  }
  .work-content {
    max-width: 40rem;
  }



  // MULTITOUCH NAVBAR
  .multitouch-navbar {
    height: 5rem;
    background: $black;
    bottom: 0; left: 0; right: 0;
    position: fixed;
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-weight: 500;

    .grad-nav {
      display: flex;
      position: absolute;
      top: 0;
      height: 5rem;
      width: 30rem;
      &.grad-prev {
        right: 60%;
        .mt-graduate {
          margin-left: 2rem;
        }
      }
      &.grad-next {
        left: 60%;
        text-align: right;
        .mt-graduate {
          margin-right: 2rem;
        }
      }
      .grad-img {
        width: 6rem;
        background-position: center;
        background-size: auto 7rem;
      }
      .mt-graduate {
        display: block;
        flex-grow: 1;
      }
      .mt-graduate__label {
        opacity: .8;
        margin-top: 1rem;
      }
      .mt-graduate__label,
      .mt-graduate__name {
        display: block;
      }
    }
    .mt-grads-btn {
      display: block;
      // width: 20rem;
      line-height: 3rem;
      padding: 0 2rem;
      border: 1px solid $actualWhite;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
    }
  }
}
