/*==============================================================================
# STYLES FOR SINGLE GRADUATE PAGE
==============================================================================*/
 .author #site-header {
  //  position: fixed;

   .socialmedia {
     display: none;
   }
 }

 .author {
   #primary-navigation {
     color: $black;
   }
 }

.panel--single-graduate {
  padding: 0;
  #workJS {
    background: none;
  }
  .left-panel {
    position: fixed;
    width: 50vw;
    background-color: $actualWhite;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: width 1s, opacity 1s, right 1s;

    .grad-image {
      width: 50%;
      height: 100%;
      display: block;
      margin: auto;
      position: fixed;
      top: 0;
      left: 0; bottom: 0; right: 50%;
      // background-size: contain;
      transition: filter .3s, opacity .5s, right 0.5s;
      // will-change: filter;
      animation-name: gradFadeIn;
      animation-duration: 1s;
      animation-fill-mode: backwards;
      animation-iteration-count: 1;
      animation-delay: .3s;
      background-position: center bottom;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .grad-work-container {
      position: absolute;
      left: 50%;
      transition: opacity .5s, transform .5s;
    }

    .work-strip {
      display: block;
      width: 100%;
      padding-bottom: 20%;
      position: relative;
      background: $black;
      box-shadow: 0 0 10px rgba($black, .3);
      &:hover {
        .work-image {
          opacity: .1;
        }
        .work-title {
          opacity: 1;
          transform: translate(-50%,-50%);
        }
      }
      &:not(:first-of-type()) {
        margin-top: 3rem;
      }
      .work-image {
        position: absolute;
        top: 0;
        bottom: 0;
        background-size: cover;
        overflow: hidden;
        background-repeat: no-repeat;
      }

      &.gallery-count-1 {
        .work-image {
          width: 100%;
          left: 0; right: 0;
        }
      }
      &.gallery-count-2 {
        .work-image {
          width: 50%;
          &:nth-child(1){
            left: 0%;
          }
          &:nth-child(2){
            right: 0%;
          }
        }
      }
      &.gallery-count-3 {
        .work-image {
          width: 33.33%;
          &:nth-child(1){
            left: 0%;
          }
          &:nth-child(2){
            left: 33.33%;
          }
          &:nth-child(3){
            right: 0%;
          }
          @media (min-width: 1301px) and (max-width: 1550px) {
            width: 50%;
            &:nth-child(2){
              left: 50%;
            }
          }
          @media (max-width: 699px) {
            width: 50%;
            &:nth-child(2){
              left: 50%;
            }
          }
        }

      }
    }

    .work-image {
       width: 33.33%;
       background-position: center;
       background-size: cover;
       transition: opacity .3s;
       overflow: hidden;
    }

    .work-title {
      position: absolute;
      display: block;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-40%);
      box-shadow: 0 0 10px rgba($black, .3);
      opacity: 0;
      text-transform: uppercase;
      font-weight: 500;
      color: $black;
      font-size: 1.2rem;
      letter-spacing: .35rem;
      padding: 1.5rem 4rem;
      background: $actualWhite;
      transition: opacity .3s, transform .3s;
    }
  }
  .left-panel {
    padding: 10rem;
  }
  .right-panel {
    margin-left: 50%;
    padding: 10rem;
    transition: opacity 0.4s, transform 0.4s;

    h1, h2, h3 {
      text-align: left;
    }

    h1 {
      font-size: 3rem;
      width: 0;
      padding-right: 100%;
      margin-bottom: 1rem;
      line-height: 1.2;
    }

    h2 {
      font-size: 1.1rem;
      margin: 2rem 0 8rem;
      font-weight: 500;
    }

    .panel-bridge {
      margin-top: 5rem;
      height: 5rem;
    }

    p {
      margin: 3rem 0;
      font-size: 1.3rem;
      text-align: left;
      line-height: 1.7;
      letter-spacing: 0.1em;
    }

    .fun-facts {
      display: flex;
    }

    .fact {
      flex-grow: 1;
      text-align: left;
      display: block;

      &:not(:first-of-type()) {
        margin-left: 5rem;
      }

      .number {
        display: block;
        font-size: 3rem;
        font-weight: 700;
        line-height: 1;
        margin-bottom: .6rem;
      }

      .text {
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: .2rem;
      }
    }

    .fancy-link {
      text-transform: uppercase;
      letter-spacing: .4rem;
      font-size: 1.1rem;
      margin: 2rem 0;
    }

    .profile-socialmedia {
      cursor: pointer;
      li {
        display: inline-block;
        text-decoration: none;
        font-size: 2rem;
          cursor: pointer;
        a {
          color: $white;
          opacity: .3;
          transition: opacity .3s;
        }

        &:not(:first-of-type()) {
          margin-left: 3rem;
        }
      }
      &:hover {
        li a {
          opacity: .1;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}

/*==============================================================================
# MEDIA QUERIES!
==============================================================================*/

@media (max-width: 1750px) {
  .panel--single-graduate .right-panel,
  .panel--single-graduate .left-panel, {
    padding: 10rem 5rem;
  }

  .panel--single-graduate .left-panel .grad-work-container {
    padding: 0 5rem;
  }
}

@media (max-width: 1550px) {
  .panel--single-graduate .left-panel {
    .work-image {
      width: 50%;
      &:nth-of-type(3) {
        display: none;
      }
    }
    .work-title {
      min-width: 70%;
    }
  }
}

@media (max-width: 1400px) {
  .panel--single-graduate .right-panel p,
  .panel--single-graduate .right-panel .fact .text {
    font-size: 1.1rem;
  }
}

@media (min-width: 1301px) {
  .left-panel {
    height: 100vh;
  }
  #workJS:not(.work-show) {
    pointer-events: none;
  }
  .grad-work-container {
    width: 100%;
    padding: 3rem 10rem;
    top: 55vh;
    max-height: 80vh;
    overflow-y: auto;
    opacity: 0;
    transform: translate(-50%,-45%);
  }

  &.work-show .grad-image {
    filter: blur(5px);
    opacity: .8;
  }

  &.work-show .grad-work-container {
    opacity: 1;
    transform: translate(-50%,-50%);
  }
}

@media (max-width: 1300px) {
  .page-template-single-graduate #site-header {
    position: absolute;
  }
  .panel--single-graduate {
    .left-panel {
      position: absolute;
      width: 100vw;
      // margin-bottom: 15rem;
      overflow: visible;
      &:not(#workJS) {
        height: 50vh;
      }
      .work-image {
        width: 33.33%;
        padding-bottom: 20%;
        &:nth-of-type(3) {
          display: block;
        }
      }
      .grad-image {
        background-size: contain;
        background-position: center bottom;
        bottom: 0;
        right: 0;
        width: 50%;
        left: auto;
        top: 0;
        height: 50vh;
        position: absolute;
        margin: 0;
      }
    }
    #workJS {
      position: relative;
      width: 100%;
      padding: 0rem 0 3rem;
      .grad-work-container {
        position: initial;
        display: block;
        width: 100%;
        left: 0;
        padding: 0;
      }
    }
    .right-panel {
      margin-left: 0;
      padding: 10rem;
      position: relative;

      .name-and-discipline {
        min-height: calc(50vh - 10rem);
        // padding-top: 3rem;

        h1,
        h2 {
          color: $black;
        }

        h1 {
          font-size: 2.3rem;
        }
        h2 {
          // font-size: 1.4rem;
          width: 50%;
        }
      }
      p {
        width: 80%;
        margin: 3rem 10% 4rem;
      }
    }
  }
}

@media (max-width: 1050px) {
  .panel--single-graduate {
    .right-panel {
      padding: 10rem 5rem;
    }
  }
}

@media (max-width: 800px) {
  .panel--single-graduate .left-panel {
    &:not(#workJS) {
      height: 90vh;
    }
    .grad-image {
      height: 90vh;
      bottom: 0;
      left: 0; right: 0;
      width: 100% !important;
    }
  }
  .panel--single-graduate .right-panel {
    .name-and-discipline {
      min-height: calc(80vh - 10rem);
      padding-top: 2rem;
      h2 {
        width: 100%;
      }
    }
    .profile-socialmedia li a {
      padding: .5rem;
    }
  }
}

@media (max-width: 699px) {
  .panel--single-graduate .left-panel {
    .grad-image {
      background-position: center bottom;
    }
    .work-image {
      width: 50%;
      &:nth-of-type(3) {
        display: none;
      }
    }
  }
  #workJS {
    padding: 3rem 0 2rem;
    .work-strip {
      padding-bottom: 30%;

      .work-title {
        font-size: 1rem;
        left: 0;
        bottom: 100%;
        transform: translate(0,0);
        opacity: 1;
        width: 100%;
        top: auto;
        height: 3rem;
        padding: 0;
        padding: 1rem;
        position: absolute;
        display: none;
      }
    }
  }
  .panel--single-graduate .right-panel {
    .fact {
      .text {
        font-size: .9rem;
      }
      .number {
        font-size: 4rem
      }
    }
    p {
      margin: 3rem 0 8rem;
      width: 100%;
    }
    .fancy-link {
      margin: 3rem 0;
    }
    .profile-socialmedia {
      li {
        text-align: center;
        &:not(:first-of-type) {
          margin-left: 0;
        }
        a {
          width: 100%;
          display: block;
          padding: 1.5rem;
          margin: 0 0 2rem;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .panel--single-graduate {
    .left-panel:not(#workJS) {
      height: 85vh;
      @media screen and (max-width: 450px){
        height: 90vh;
      }
    }
    @media screen and (max-width: 550px){
      #workJS {
        padding: 5rem 0 3rem;
      }
    }

    .right-panel {
      .name-and-discipline {
        min-height: calc(85vh - 5rem);
        padding-top: 5rem;
      }
      p {
        margin: 3rem 0 5rem;
      }
      p,
      .fact .text {
        font-size: 1.2rem;
      }
      .fact .number {
        font-size: 4rem
      }
      .fun-facts {
        display: block;
        margin: 0 3rem;
      }
      .fact:not(:first-of-type) {
        margin-left: 0;
        margin-top: 3rem;
      }
      .panel-bridge {
        margin-top: 2rem;
        height: 2rem;
      }
      .fancy-link {
        margin: 3rem 0 6rem;
      }
    }
  }
}
@media (max-width: 550px) {
  .panel--single-graduate .right-panel {
    padding: 5rem 3rem;

    .name-and-discipline h2 {
      margin: 1.2rem 0;
      font-size: 1.2rem;
    }
  }
}
@media (max-width: 400px) {
  .panel--single-graduate .right-panel {
    p {
      font-size: 1.1rem;
    }
    .name-and-discipline h1 {
      font-size: 1.9rem;
    }
  }
}



// WORKS



#graduate-profile{
  &.show-work {
    background: $actualWhite;
    .left-panel {
      width: 100%;
      transition: width 0.6s;
      // overflow-x: hidden;
      // overflow-y: scroll;
      min-height: 100vh;
    }
    .grad-image {
      opacity: 0.15;
      filter: blur(20px);
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      top: auto;
      height: 100%;
      position: fixed;
      margin: auto;
    }
    .grad-work-container {
      opacity: 0;
      display: none;
    }
  }
  &.hide-profile-content {
    .right-panel {
      opacity: 0;
      transform: translateX(5rem);
    }
  }

}
